defaults
	mode	http
	timeout connect 5000
	timeout client  5000
	timeout server  5000

# From what I found, HAProxy is unable to serve static files directly.
# But there's an apparently widely used workaround, as described here:
# https://www.gilesorr.com/blog/haproxy-static-content.html

frontend hello
	bind *:8000
	acl is_hello path /hello
	use_backend helloserver if is_hello

backend helloserver
	mode http
	errorfile 503 /usr/local/etc/haproxy/hello
